<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout.html}">
<head>
<title>Create new Activity</title>
<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">

		<!-- page content -->
<div class="right_col" role="main" style="min-height: 4758px;">
			
		<div class="col-md-6 ">
		
			<div class="alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
			<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
												
			<div class="x_panel">
				<div class="x_title">
					<h2>
						Create a new activity for a user <small></small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						
						<li><a class="close-link"><i class="fa fa-close"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br>
					<form class="form-horizontal form-label-left" action="#" th:action="@{/saveActivity}" th:object="${activity}" method="Post">
						
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">Email</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control" th:field="*{EMAIL}">
									<th:block th:each="mail : ${lstEmail}">
										<option th:value="${mail}" th:utext="${mail}"></option>
									</th:block>		
										
								</select>
							</div>
						</div>
						
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Period</label>
							<div class="col-md-9 col-sm-9 ">
								<input required type="text" class="form-control" placeholder="2021-01" th:field="*{PERIOD}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Nbr of views</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" th:field="*{VIEWS}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Nbr of contributions</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" th:field="*{CONTRIBUTIONS}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Nbr of wikis</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" th:field="*{WIKIS}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Nbr of Knowledge articles</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" th:field="*{KBA}">
							</div>
						</div>						
						
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-9 col-sm-9  offset-md-3">
								<button type="submit" class="btn btn-success">Create New Activity</button>
								<a th:href="@{/login}" class="btn btn-primary">Back to Admin area<a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		</div>

		

		<!-- fin page content -->

	</section>
</body>
</html>