<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout.html}">
<head>
<title>Create new User</title>
<meta charset="utf-8">
</head>
<body>

	<section layout:fragment="content">

		<!-- page content -->
<div class="right_col" role="main" style="min-height: 4758px;">
			
		<div class="col-md-6 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>
						Create or Update a user <small></small>
					</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						
						<li><a class="close-link"><i class="fa fa-close"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<br>
					<form class="form-horizontal form-label-left" action="#" th:action="@{/saveUser}" th:object="${user}" method="Post">
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Email</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control"
									placeholder="@BOBST.COM" th:field="*{email}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">First Name</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control"
									placeholder="Sébastien" th:field="*{firstName}">
							</div>
						</div>
						<div class="form-group row ">
							<label class="control-label col-md-3 col-sm-3 ">Last Name</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control"
									placeholder="Vial" th:field="*{lastName}">
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">Site</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control" th:field="*{locationId}">
									<th:block th:each="site : ${lstSite}">
										<option th:value="${site}" th:utext="${site}"></option>
									</th:block>		
										
								</select>
							</div>
						</div>
						
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">Primary PL</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control" th:field="*{primaryPl}">
<!-- 									<option value="BVN">BVN</option> -->
									<th:block th:each="pl : ${lstPrimaryPl}">
										<option th:value="${pl}" th:utext="${pl}"></option>
									</th:block>	
								</select>
							</div>
						</div>
						
						
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">Position</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control" th:field="*{position}">
									
 									<th:block th:each="pos : ${lstPosition}"> 
										<option th:value="${pos}" th:utext="${pos}"></option>
									</th:block>	
								</select>
							</div>
						</div>
						
						
						
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-9 col-sm-9  offset-md-3">
								<button type="button" class="btn btn-primary">Cancel</button>
								<button type="reset" class="btn btn-primary">Reset</button>
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		</div>

		

		<!-- fin page content -->

	</section>
</body>
</html>