<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout.html}">
<head>
<title>Knowledge KPI</title>
</head>
<body>

<section layout:fragment="content">

<!-- page content -->
        <div class="right_col" role="main">
                
          <!-- top tiles -->
          
          <h4><span>Period </span> 
              <span th:text="${period}"></span>
              <small th:text="${site}"></small> 
              <small>users, </small>
              <small th:text="${pl}"></small>               
              <small>product line</small></h4>
          <div class="row" style="display: inline-block; width: 100%">
          
          <div class="tile_count">
          
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Connected users</span>
              <div class="count" th:text="${nbrConnectedUsers}">2502</div>
<!--               <span class="count_bottom"><i class="green">-4% </i> From last Month</span> -->
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Active users</span>
              <div class="count" th:text="${nbrActiveUsers}">123.50</div>
              <span class="count_bottom"><i class="green"><i th:text="${deltaActiveUsers}"></i> <i>%</i> </i> Of connected</span>
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Contributing users</span>
              <div class="count" th:text="${nbrContributingUsers}">2,500</div>
              <span class="count_bottom"><i class="green"><i th:text="${deltaContributingUsers}"></i> <i>%</i> </i> Of connected</span>
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-eye"></i> Nbr of views</span>
              <div class="count" th:text="${nbrOfViews}">4,567</div>
<!--               <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Month</span> -->
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-pencil-square-o"></i> Nbr of contributions</span>
              <div class="count" th:text="${nbrOfContributions}">2,315</div>
<!--               <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Month</span> -->
            </div>
            <div class="col-md-2 col-sm-4  tile_stats_count">
              <span class="count_top"><i class="fa fa-pencil-square-o"></i> New Articles</span>
              <div class="count" th:text="${nbrNewArticles}">7,325</div>
<!--               <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Month</span> -->
            </div>
           
          </div> <!-- div ok -->
        </div>
          <!-- /top tiles -->

       
          <br />

          <div class="row">


				<div class="col-md-6 col-sm-6  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Views <small>Sessions </small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<iframe class="chartjs-hidden-iframe"
								style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
							<canvas id="kpiViewsBarChart" height="170" width="340"
								style="width: 272px; height: 136px;"></canvas>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-6 col-sm-6  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Contributions <small>Sessions </small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<iframe class="chartjs-hidden-iframe"
								style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
							<canvas id="kpiContributionsBarChart" height="170" width="340"
								style="width: 272px; height: 136px;"></canvas>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-6 col-sm-6  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Active users <small>Sessions </small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<iframe class="chartjs-hidden-iframe"
								style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
							<canvas id="kpiActiveUsersBarChart" height="170" width="340"
								style="width: 272px; height: 136px;"></canvas>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-6 col-sm-6  ">
					<div class="x_panel">
						<div class="x_title">
							<h2>
								Contributing Users <small>Sessions </small>
							</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<iframe class="chartjs-hidden-iframe"
								style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
							<canvas id="kpiContributingUsersBarChart" height="170" width="340"
								style="width: 272px; height: 136px;"></canvas>
						</div>
					</div>
				</div>




				<!-- end bar graph -->
          </div>
        </div>
        <!-- /page content -->
        
        
       
</section>

</body>
</html>