<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

<title>Insert title here</title>
</head>
<body>
  <div  th:fragment="side">
	<!-- sidebar menu -->
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
			<h3>General</h3>
			<ul class="nav side-menu">
				<li><a><i class="fa fa-home"></i> Dashboard <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="/kpi" th:href="@{/kpi}">Dashboard KPI</a></li>
						<li><a href="/users" th:href="@{/users}">Dashboard Users Details</a></li>
					</ul></li>
				<li><a><i class="fa fa-bar-chart-o"></i> Configuration <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="/configuration" th:href="@{/configuration}">Data KPI</a></li>
					</ul></li>
				<li><a><i class="fa fa-wrench"></i> Admin area <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a th:href="@{/login}">Login</a></li>
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul></li>
				
			</ul>
		</div>
	</div>
	<!-- /sidebar menu -->
	
	<!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
			  <a data-toggle="tooltip" data-placement="top" >
                <span class="glyphicon" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" >
                <span class="glyphicon" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top">
                <span class="glyphicon" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top">
                <span class="glyphicon" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
  </div> 
</body>
</html>